
img {
    width: 100%;
    height:auto;
    object-fit: contain;

    border-radius: 20px;
}

.grid-container {
    display: grid;
 
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) ;
    
    justify-items: center;
  
    
    width: 80%;
    padding: 10px;
    margin: auto;
    
    border-radius: 40px;
    background-color: #2196F3;

    
  }


.grid-item {
    background-color: rgba(41, 83, 175, 0.8);
    border: 14px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 70px;
    text-align: center;

    min-width: 250px;
 
    

    margin-left: 100px;
    margin-right: 100px;

    margin-top: 75px;
    margin-bottom: 75px;

    border-radius: 40px;
   
    width: 50%;


}

button{
    font-size: 60px;
    border-radius: 30px;
}



